{
  "name": "example",
  "dependencies": {
    "@types/react": "latest",
    "@types/react-dom": "latest",
    "react": "latest",
    "react-dom": "latest",
    "typescript": "latest"
  },
  "devDependencies": {
    "react-scripts": "latest"
  },
  "main": "index.tsx",
  "scripts": {
    "build": "react-scripts build",
    "start": "react-scripts start"
  }
}
