:root {
  /* surface  */
  --tapsi-color-surface-primary: var(--tapsi-palette-white);
  --tapsi-color-surface-secondary: var(--tapsi-palette-gray-50);
  --tapsi-color-surface-tertiary: var(--tapsi-palette-gray-100);
  --tapsi-color-surface-background-primary: var(--tapsi-palette-gray-50);
  --tapsi-color-surface-background-secondary: var(--tapsi-palette-gray-100);
  --tapsi-color-surface-disabled: var(--tapsi-palette-gray-50);
  --tapsi-color-surface-inverse-primary: var(--tapsi-palette-black);
  --tapsi-color-surface-inverse-secondary: var(--tapsi-palette-gray-700);

  --tapsi-color-surface-accent: var(--tapsi-palette-blue-400);
  --tapsi-color-surface-negative: var(--tapsi-palette-red-400);
  --tapsi-color-surface-warning: var(--tapsi-palette-yellow-400);
  --tapsi-color-surface-positive: var(--tapsi-palette-green-400);

  --tapsi-color-surface-accent-light: var(--tapsi-palette-blue-50);
  --tapsi-color-surface-negative-light: var(--tapsi-palette-red-50);
  --tapsi-color-surface-warning-light: var(--tapsi-palette-yellow-50);
  --tapsi-color-surface-positive-light: var(--tapsi-palette-green-50);

  --tapsi-color-surface-overlay-dark: #0000004d;
  --tapsi-color-surface-overlay-light: #0000001f;

  --tapsi-color-surface-black: var(--tapsi-palette-black);
  --tapsi-color-surface-white: var(--tapsi-palette-white);

  /* content  */
  --tapsi-color-content-primary: var(--tapsi-palette-black);
  --tapsi-color-content-secondary: var(--tapsi-palette-gray-600);
  --tapsi-color-content-tertiary: var(--tapsi-palette-gray-500);
  --tapsi-color-content-disabled: var(--tapsi-palette-gray-400);
  --tapsi-color-content-on-inverse: var(--tapsi-palette-white);

  --tapsi-color-content-accent: var(--tapsi-palette-blue-400);
  --tapsi-color-content-negative: var(--tapsi-palette-red-400);
  --tapsi-color-content-warning: var(--tapsi-palette-yellow-500);
  --tapsi-color-content-positive: var(--tapsi-palette-green-400);

  --tapsi-color-content-on-brand: var(--tapsi-palette-white);
  --tapsi-color-content-on-accent: var(--tapsi-palette-white);
  --tapsi-color-content-on-negative: var(--tapsi-palette-white);
  --tapsi-color-content-on-warning: var(--tapsi-palette-black);
  --tapsi-color-content-on-postive: var(--tapsi-palette-white);

  /* border */
  --tapsi-color-border-primary: var(--tapsi-palette-gray-200);
  --tapsi-color-border-inverse-primary: var(--tapsi-palette-gray-700);
  --tapsi-color-border-selected: var(--tapsi-palette-gray-700);
  --tapsi-color-border-focus: var(--tapsi-palette-gray-700);

  --tapsi-color-border-accent: var(--tapsi-palette-blue-200);
  --tapsi-color-border-negative: var(--tapsi-palette-red-200);
  --tapsi-color-border-postive: var(--tapsi-palette-green-200);
  --tapsi-color-border-warning: var(--tapsi-palette-yellow-200);

  /* brand */
  --tapsi-color-brand: var(--tapsi-palette-orange-400);

  /* gradient */
  --tapsi-color-gradient-brand: linear-gradient(
    91.39deg,
    #ff7733 0%,
    #ff5722 50.15%,
    #e64917 100%
  );
}
