:root {
  --tapsi-palette-black: #000000;
  --tapsi-palette-white: #ffffff;

  --tapsi-palette-gray-900: #141414;
  --tapsi-palette-gray-800: #1f1f1f;
  --tapsi-palette-gray-700: #323333;
  --tapsi-palette-gray-600: #535454;
  --tapsi-palette-gray-500: #747575;
  --tapsi-palette-gray-400: #b1b2b2;
  --tapsi-palette-gray-300: #cacccc;
  --tapsi-palette-gray-200: #e1e3e3;
  --tapsi-palette-gray-100: #eaeded;
  --tapsi-palette-gray-50: #f5f7f7;

  --tapsi-palette-orange-900: #422e28;
  --tapsi-palette-orange-800: #000000;
  --tapsi-palette-orange-700: #662a14;
  --tapsi-palette-orange-600: #a64221;
  --tapsi-palette-orange-500: #e55c2e;
  --tapsi-palette-orange-400: #ff7140;
  --tapsi-palette-orange-300: #ff8c61;
  --tapsi-palette-orange-200: #ffac8a;
  --tapsi-palette-orange-100: #ffd5c2;
  --tapsi-palette-orange-50: #fff0e9;

  --tapsi-palette-blue-900: #262f40;
  --tapsi-palette-blue-800: #000000;
  --tapsi-palette-blue-700: #143166;
  --tapsi-palette-blue-600: #174291;
  --tapsi-palette-blue-500: #1e54b7;
  --tapsi-palette-blue-400: #276ef1;
  --tapsi-palette-blue-300: #5b91f5;
  --tapsi-palette-blue-200: #a0bff8;
  --tapsi-palette-blue-100: #d4e2fc;
  --tapsi-palette-blue-50: #eff3fe;

  --tapsi-palette-green-900: #24332c;
  --tapsi-palette-green-800: #000000;
  --tapsi-palette-green-700: #10462d;
  --tapsi-palette-green-600: #03582f;
  --tapsi-palette-green-500: #03703c;
  --tapsi-palette-green-400: #048848;
  --tapsi-palette-green-300: #06c167;
  --tapsi-palette-green-200: #66d19e;
  --tapsi-palette-green-100: #addec9;
  --tapsi-palette-green-50: #e6f2ed;

  --tapsi-palette-yellow-900: #332e24;
  --tapsi-palette-yellow-800: #000000;
  --tapsi-palette-yellow-700: #674d1b;
  --tapsi-palette-yellow-600: #996f00;
  --tapsi-palette-yellow-500: #e49e15;
  --tapsi-palette-yellow-400: #ffc043;
  --tapsi-palette-yellow-300: #ffcf70;
  --tapsi-palette-yellow-200: #ffe3ac;
  --tapsi-palette-yellow-100: #fff2d9;
  --tapsi-palette-yellow-50: #fffaf0;

  --tapsi-palette-red-900: #402926;
  --tapsi-palette-red-800: #000000;
  --tapsi-palette-red-700: #5a0a00;
  --tapsi-palette-red-600: #870f00;
  --tapsi-palette-red-500: #ab1300;
  --tapsi-palette-red-400: #e11900;
  --tapsi-palette-red-300: #e85c4a;
  --tapsi-palette-red-200: #f1998e;
  --tapsi-palette-red-100: #fed7d2;
  --tapsi-palette-red-50: #ffefed;

  --tapsi-palette-purple-900: #402926;
  --tapsi-palette-purple-800: #000000;
  --tapsi-palette-purple-700: #5a0a00;
  --tapsi-palette-purple-600: #870f00;
  --tapsi-palette-purple-500: #ab1300;
  --tapsi-palette-purple-400: #e11900;
  --tapsi-palette-purple-300: #e85c4a;
  --tapsi-palette-purple-200: #f1998e;
  --tapsi-palette-purple-100: #fed7d2;
  --tapsi-palette-purple-50: #ffefed;
}
