:root {
  --tap-sys-spacing-0: 0px;
  --tap-sys-spacing-1: 1px;
  --tap-sys-spacing-2: 2px;
  --tap-sys-spacing-3: 4px;
  --tap-sys-spacing-4: 8px;
  --tap-sys-spacing-5: 12px;
  --tap-sys-spacing-6: 16px;
  --tap-sys-spacing-7: 20px;
  --tap-sys-spacing-8: 24px;
  --tap-sys-spacing-9: 32px;
  --tap-sys-spacing-10: 40px;
  --tap-sys-spacing-11: 48px;
  --tap-sys-spacing-12: 64px;
  --tap-sys-spacing-13: 80px;
  --tap-sys-spacing-14: 96px;
}
