:root {
  /* START: PALETTE */
  --tap-palette-black: #000000;
  --tap-palette-white: #ffffff;

  --tap-palette-gray-900: #141414;
  --tap-palette-gray-800: #1f1f1f;
  --tap-palette-gray-700: #323333;
  --tap-palette-gray-600: #535454;
  --tap-palette-gray-500: #747575;
  --tap-palette-gray-400: #b1b2b2;
  --tap-palette-gray-300: #cacccc;
  --tap-palette-gray-200: #e1e3e3;
  --tap-palette-gray-100: #eaeded;
  --tap-palette-gray-50: #f5f7f7;

  --tap-palette-orange-900: #422e28;
  --tap-palette-orange-800: #000000;
  --tap-palette-orange-700: #662a14;
  --tap-palette-orange-600: #a64221;
  --tap-palette-orange-500: #e55c2e;
  --tap-palette-orange-400: #ff7140;
  --tap-palette-orange-300: #ff8c61;
  --tap-palette-orange-200: #ffac8a;
  --tap-palette-orange-100: #ffd5c2;
  --tap-palette-orange-50: #fff0e9;

  --tap-palette-blue-900: #262f40;
  --tap-palette-blue-800: #000000;
  --tap-palette-blue-700: #143166;
  --tap-palette-blue-600: #174291;
  --tap-palette-blue-500: #1e54b7;
  --tap-palette-blue-400: #276ef1;
  --tap-palette-blue-300: #5b91f5;
  --tap-palette-blue-200: #a0bff8;
  --tap-palette-blue-100: #d4e2fc;
  --tap-palette-blue-50: #eff3fe;

  --tap-palette-green-900: #24332c;
  --tap-palette-green-800: #000000;
  --tap-palette-green-700: #10462d;
  --tap-palette-green-600: #03582f;
  --tap-palette-green-500: #03703c;
  --tap-palette-green-400: #048848;
  --tap-palette-green-300: #06c167;
  --tap-palette-green-200: #66d19e;
  --tap-palette-green-100: #addec9;
  --tap-palette-green-50: #e6f2ed;

  --tap-palette-yellow-900: #332e24;
  --tap-palette-yellow-800: #000000;
  --tap-palette-yellow-700: #674d1b;
  --tap-palette-yellow-600: #996f00;
  --tap-palette-yellow-500: #e49e15;
  --tap-palette-yellow-400: #ffc043;
  --tap-palette-yellow-300: #ffcf70;
  --tap-palette-yellow-200: #ffe3ac;
  --tap-palette-yellow-100: #fff2d9;
  --tap-palette-yellow-50: #fffaf0;

  --tap-palette-red-900: #402926;
  --tap-palette-red-800: #000000;
  --tap-palette-red-700: #5a0a00;
  --tap-palette-red-600: #870f00;
  --tap-palette-red-500: #ab1300;
  --tap-palette-red-400: #e11900;
  --tap-palette-red-300: #e85c4a;
  --tap-palette-red-200: #f1998e;
  --tap-palette-red-100: #fed7d2;
  --tap-palette-red-50: #ffefed;

  --tap-palette-purple-900: #402926;
  --tap-palette-purple-800: #000000;
  --tap-palette-purple-700: #5a0a00;
  --tap-palette-purple-600: #870f00;
  --tap-palette-purple-500: #ab1300;
  --tap-palette-purple-400: #e11900;
  --tap-palette-purple-300: #e85c4a;
  --tap-palette-purple-200: #f1998e;
  --tap-palette-purple-100: #fed7d2;
  --tap-palette-purple-50: #ffefed;
  /* END: PALETTE */
  /* START: COLORS */
  /* surface  */
  --tap-sys-color-surface-primary: var(--tap-palette-white);
  --tap-sys-color-surface-secondary: var(--tap-palette-gray-50);
  --tap-sys-color-surface-tertiary: var(--tap-palette-gray-100);
  --tap-sys-color-surface-background-primary: var(--tap-palette-gray-50);
  --tap-sys-color-surface-background-secondary: var(--tap-palette-gray-100);
  --tap-sys-color-surface-disabled: var(--tap-palette-gray-50);
  --tap-sys-color-surface-inverse-primary: var(--tap-palette-black);
  --tap-sys-color-surface-inverse-secondary: var(--tap-palette-gray-700);

  --tap-sys-color-surface-accent: var(--tap-palette-blue-400);
  --tap-sys-color-surface-negative: var(--tap-palette-red-400);
  --tap-sys-color-surface-warning: var(--tap-palette-yellow-400);
  --tap-sys-color-surface-positive: var(--tap-palette-green-400);

  --tap-sys-color-surface-accent-light: var(--tap-palette-blue-50);
  --tap-sys-color-surface-negative-light: var(--tap-palette-red-50);
  --tap-sys-color-surface-warning-light: var(--tap-palette-yellow-50);
  --tap-sys-color-surface-positive-light: var(--tap-palette-green-50);

  --tap-sys-color-surface-overlay-dark: #0000004d;
  --tap-sys-color-surface-overlay-light: #0000001f;

  --tap-sys-color-surface-black: var(--tap-palette-black);
  --tap-sys-color-surface-white: var(--tap-palette-white);

  /* content  */
  --tap-sys-color-content-primary: var(--tap-palette-black);
  --tap-sys-color-content-secondary: var(--tap-palette-gray-600);
  --tap-sys-color-content-tertiary: var(--tap-palette-gray-500);
  --tap-sys-color-content-disabled: var(--tap-palette-gray-400);
  --tap-sys-color-content-on-inverse: var(--tap-palette-white);

  --tap-sys-color-content-accent: var(--tap-palette-blue-400);
  --tap-sys-color-content-negative: var(--tap-palette-red-400);
  --tap-sys-color-content-warning: var(--tap-palette-yellow-500);
  --tap-sys-color-content-positive: var(--tap-palette-green-400);

  --tap-sys-color-content-on-brand: var(--tap-palette-white);
  --tap-sys-color-content-on-accent: var(--tap-palette-white);
  --tap-sys-color-content-on-negative: var(--tap-palette-white);
  --tap-sys-color-content-on-warning: var(--tap-palette-black);
  --tap-sys-color-content-on-postive: var(--tap-palette-white);

  /* border */
  --tap-sys-color-border-primary: var(--tap-palette-gray-200);
  --tap-sys-color-border-inverse-primary: var(--tap-palette-gray-700);
  --tap-sys-color-border-selected: var(--tap-palette-gray-700);
  --tap-sys-color-border-focus: var(--tap-palette-gray-700);

  --tap-sys-color-border-accent: var(--tap-palette-blue-200);
  --tap-sys-color-border-negative: var(--tap-palette-red-200);
  --tap-sys-color-border-postive: var(--tap-palette-green-200);
  --tap-sys-color-border-warning: var(--tap-palette-yellow-200);

  /* brand */
  --tap-sys-color-brand: var(--tap-palette-orange-400);

  /* gradient */
  --tap-sys-color-gradient-brand: linear-gradient(
    91.39deg,
    #ff7733 0%,
    #ff5722 50.15%,
    #e64917 100%
  );
  /* END: COLORS */
  /* START: RADIUS */
  --tap-sys-radius-0: 0;
  --tap-sys-radius-1: 0.125rem;
  --tap-sys-radius-2: 0.25rem;
  --tap-sys-radius-3: 0.5rem;
  --tap-sys-radius-4: 0.75rem;
  --tap-sys-radius-5: 1rem;
  --tap-sys-radius-6: 1.25rem;
  --tap-sys-radius-7: 1.5rem;
  --tap-sys-radius-full: 999px;
  /* END: RADIUS */
  /* START: SPACING */
  --tap-sys-spacing-0: 0;
  --tap-sys-spacing-1: 0.0625rem;
  --tap-sys-spacing-2: 0.125rem;
  --tap-sys-spacing-3: 0.25rem;
  --tap-sys-spacing-4: 0.5rem;
  --tap-sys-spacing-5: 0.75rem;
  --tap-sys-spacing-6: 1rem;
  --tap-sys-spacing-7: 1.25rem;
  --tap-sys-spacing-8: 1.5rem;
  --tap-sys-spacing-9: 2rem;
  --tap-sys-spacing-10: 2.5rem;
  --tap-sys-spacing-11: 3rem;
  --tap-sys-spacing-12: 4rem;
  --tap-sys-spacing-13: 5rem;
  --tap-sys-spacing-14: 6rem;
  /* END: SPACING */
  /* START: STROKE */
  --tap-sys-stroke-0: 0px;
  --tap-sys-stroke-1: 0.5px;
  --tap-sys-stroke-2: 1px;
  --tap-sys-stroke-3: 1.5px;
  --tap-sys-stroke-4: 2px;
  /* END: STROKE */
  /* START: TYPOGRAPHY */
  /* family */
  --tap-sys-font-family: "Vazirmatn", sans-serif;

  /* body */
  --tap-sys-typography-body-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-xs-size: 0.75rem;
  --tap-sys-typography-body-xs-height: 1.6666666667;
  --tap-sys-typography-body-xs-weight: 400;

  --tap-sys-typography-body-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-sm-size: 0.875rem;
  --tap-sys-typography-body-sm-height: 1.5;
  --tap-sys-typography-body-sm-weight: 400;

  --tap-sys-typography-body-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-md-size: 1rem;
  --tap-sys-typography-body-md-height: 1.75;
  --tap-sys-typography-body-md-weight: 400;

  --tap-sys-typography-body-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-lg-size: 1.125rem;
  --tap-sys-typography-body-lg-height: 1.7777777778;
  --tap-sys-typography-body-lg-weight: 400;

  /* label */
  --tap-sys-typography-label-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-xs-size: 0.75rem;
  --tap-sys-typography-label-xs-height: 2;
  --tap-sys-typography-label-xs-weight: 500;

  --tap-sys-typography-label-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-sm-size: 0.875rem;
  --tap-sys-typography-label-sm-height: 1.7142857143;
  --tap-sys-typography-label-sm-weight: 500;

  --tap-sys-typography-label-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-md-size: 1rem;
  --tap-sys-typography-label-md-height: 1.75;
  --tap-sys-typography-label-md-weight: 500;

  --tap-sys-typography-label-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-lg-size: 1.125rem;
  --tap-sys-typography-label-lg-height: 1.7777777778;
  --tap-sys-typography-label-lg-weight: 500;

  /* headline */
  --tap-sys-typography-headline-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-xs-size: 1rem;
  --tap-sys-typography-headline-xs-height: 1.5;
  --tap-sys-typography-headline-xs-weight: 600;

  --tap-sys-typography-headline-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-sm-size: 1.25rem;
  --tap-sys-typography-headline-sm-height: 1.5;
  --tap-sys-typography-headline-sm-weight: 600;

  --tap-sys-typography-headline-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-md-size: 1.5rem;
  --tap-sys-typography-headline-md-height: 1.5;
  --tap-sys-typography-headline-md-weight: 600;

  --tap-sys-typography-headline-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-lg-size: 1.75rem;
  --tap-sys-typography-headline-lg-height: 1.5;
  --tap-sys-typography-headline-lg-weight: 600;

  /* display */
  --tap-sys-typography-display-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-sm-size: 2rem;
  --tap-sys-typography-display-sm-height: 1.5;
  --tap-sys-typography-display-sm-weight: 600;

  --tap-sys-typography-display-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-md-size: 2.5rem;
  --tap-sys-typography-display-md-height: 1.5;
  --tap-sys-typography-display-md-weight: 600;

  --tap-sys-typography-display-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-lg-size: 3rem;
  --tap-sys-typography-display-lg-height: 1.5;
  --tap-sys-typography-display-lg-weight: 600;
  /* END: TYPOGRAPHY */
}
