:root {
  --tap-sys-radius-0: 0px;
  --tap-sys-radius-1: 2px;
  --tap-sys-radius-2: 4px;
  --tap-sys-radius-3: 8px;
  --tap-sys-radius-4: 12px;
  --tap-sys-radius-5: 16px;
  --tap-sys-radius-6: 20px;
  --tap-sys-radius-7: 24px;
  --tap-sys-radius-full: 999px;
}
