:root {
  --vp-c-brand-1: #ff7733;
  --vp-button-brand-bg: #e64917;
  --vp-c-brand-2: #e64917;
  --vp-badge-tip-text: #e64917;
  --vp-badge-tip-bg: #e6491722;
}

.vp-doc h1 {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

#usage {
  background: var(--vp-c-bg-soft);
  padding: 18px;
  border-radius: 8px;
  overflow: auto;
  font-size: 14px;
}

#usage li {
  display: flex;
  align-items: center;
}

:not(.dark) #usage pre span {
  color: var(--shiki-light, inherit);
}

.dark #usage pre span {
  color: var(--shiki-dark, inherit);
}

#usage pre {
  margin: 0;
  flex-shrink: 0;
}

#usage strong {
  width: 90px;
  flex-shrink: 0;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.vp-doc table {
  min-width: 688px;
  display: table;
}
