:root {
  --tap-sys-spacing-0: 0;
  --tap-sys-spacing-1: 0.0625rem;
  --tap-sys-spacing-2: 0.125rem;
  --tap-sys-spacing-3: 0.25rem;
  --tap-sys-spacing-4: 0.5rem;
  --tap-sys-spacing-5: 0.75rem;
  --tap-sys-spacing-6: 1rem;
  --tap-sys-spacing-7: 1.25rem;
  --tap-sys-spacing-8: 1.5rem;
  --tap-sys-spacing-9: 2rem;
  --tap-sys-spacing-10: 2.5rem;
  --tap-sys-spacing-11: 3rem;
  --tap-sys-spacing-12: 4rem;
  --tap-sys-spacing-13: 5rem;
  --tap-sys-spacing-14: 6rem;
}
