:root {
  /* family */
  --tap-sys-font-family: "Vazirmatn", sans-serif;

  /* body */
  --tap-sys-typography-body-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-xs-size: 0.75rem;
  --tap-sys-typography-body-xs-height: 1.6666666667;
  --tap-sys-typography-body-xs-weight: 400;

  --tap-sys-typography-body-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-sm-size: 0.875rem;
  --tap-sys-typography-body-sm-height: 1.5;
  --tap-sys-typography-body-sm-weight: 400;

  --tap-sys-typography-body-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-md-size: 1rem;
  --tap-sys-typography-body-md-height: 1.75;
  --tap-sys-typography-body-md-weight: 400;

  --tap-sys-typography-body-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-body-lg-size: 1.125rem;
  --tap-sys-typography-body-lg-height: 1.7777777778;
  --tap-sys-typography-body-lg-weight: 400;

  /* label */
  --tap-sys-typography-label-xxs-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-xxs-size: 0.625rem;
  --tap-sys-typography-label-xxs-height: 1.6;
  --tap-sys-typography-label-xxs-weight: 500;

  --tap-sys-typography-label-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-xs-size: 0.75rem;
  --tap-sys-typography-label-xs-height: 2;
  --tap-sys-typography-label-xs-weight: 500;

  --tap-sys-typography-label-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-sm-size: 0.875rem;
  --tap-sys-typography-label-sm-height: 1.7142857143;
  --tap-sys-typography-label-sm-weight: 500;

  --tap-sys-typography-label-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-md-size: 1rem;
  --tap-sys-typography-label-md-height: 1.75;
  --tap-sys-typography-label-md-weight: 500;

  --tap-sys-typography-label-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-label-lg-size: 1.125rem;
  --tap-sys-typography-label-lg-height: 1.7777777778;
  --tap-sys-typography-label-lg-weight: 500;

  /* headline */
  --tap-sys-typography-headline-xs-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-xs-size: 1rem;
  --tap-sys-typography-headline-xs-height: 1.5;
  --tap-sys-typography-headline-xs-weight: 600;

  --tap-sys-typography-headline-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-sm-size: 1.25rem;
  --tap-sys-typography-headline-sm-height: 1.5;
  --tap-sys-typography-headline-sm-weight: 600;

  --tap-sys-typography-headline-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-md-size: 1.5rem;
  --tap-sys-typography-headline-md-height: 1.5;
  --tap-sys-typography-headline-md-weight: 600;

  --tap-sys-typography-headline-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-headline-lg-size: 1.75rem;
  --tap-sys-typography-headline-lg-height: 1.5;
  --tap-sys-typography-headline-lg-weight: 600;

  /* display */
  --tap-sys-typography-display-sm-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-sm-size: 2rem;
  --tap-sys-typography-display-sm-height: 1.5;
  --tap-sys-typography-display-sm-weight: 600;

  --tap-sys-typography-display-md-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-md-size: 2.5rem;
  --tap-sys-typography-display-md-height: 1.5;
  --tap-sys-typography-display-md-weight: 600;

  --tap-sys-typography-display-lg-font: var(--tap-sys-font-family);
  --tap-sys-typography-display-lg-size: 3rem;
  --tap-sys-typography-display-lg-height: 1.5;
  --tap-sys-typography-display-lg-weight: 600;
}
